
.icon-home:before { content: '\e800'; } /* '' */
.icon-github-circled-alt2:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */